<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="net40" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.5" targetFramework="net40" />
  <package id="Hardcodet.Wpf.TaskbarNotification" version="1.0.5" targetFramework="net40" />
  <package id="MahApps.Metro" version="1.1.2.0" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net40" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="System.Data.SQLite" version="1.0.98.1" targetFramework="net40" />
  <package id="System.Data.SQLite.Core" version="1.0.98.1" targetFramework="net40" />
  <package id="System.Data.SQLite.EF6" version="1.0.98.1" targetFramework="net40" />
  <package id="System.Data.SQLite.Linq" version="1.0.98.1" targetFramework="net40" />
</packages>