<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net46" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net46" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.5" targetFramework="net46" />
  <package id="Hardcodet.Wpf.TaskbarNotification" version="1.0.5" targetFramework="net46" />
  <package id="HtmlAgilityPack" version="1.11.34" targetFramework="net46" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net46" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net46" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net46" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net46" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net46" />
  <package id="System.Data.SQLite" version="1.0.98.1" targetFramework="net46" />
  <package id="System.Data.SQLite.Core" version="1.0.98.1" targetFramework="net46" />
  <package id="System.Data.SQLite.EF6" version="1.0.98.1" targetFramework="net46" />
  <package id="System.Data.SQLite.Linq" version="1.0.98.1" targetFramework="net46" />
</packages>